@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* //#282c34 */
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  background-color: #1B2021;
}

.navBrand{
  font-family: 'Fjalla One', sans-serif;
  color: #dabdbe;
  margin-left: 14px;
}

.navBar{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #1B2021;
  position: fixed;
  top: 0;
  width: 100%; 
}

.searchContainer{
  margin-right: 50px;
  margin-top: 20px;
}

.search{
  border: 3px solid #dabdbe;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchButton {
  width: 60px;
  height: 36px;
  border: 1px solid #dabdbe;
  background: #dabdbe;
  margin-top: 1px;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  font-size: 12px;
}

.cont-lagu{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 15px;
  padding: 1px 16px;
  justify-content: center;
  margin-left:15%;
  margin-top: 80px;
  height:1000px;
}


.container1{
  background-color: #dabdbe;
  min-width: 210px;
  margin: 15px 15px 10px 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.container1 p{
  margin-top: 5px;
  overflow-wrap: break-word;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  
}

.login h2{
  font-family: 'Fjalla One', sans-serif;
  color: #fff;
}

.btn--loginApp-link{
  color: #fff;
}

.gambar{
  width: 200px;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 20px;
}

.btnSubmit{
  width: 80px;
  height: 20px;
}


.button {
  padding: 5px 15px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #1B2021;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  margin-bottom: 15px;
}

.button:hover {background-color: #424546}

.button:active {
  background-color: #424546;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.buttonLogin {
  padding: 10px 25px;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  color: rgb(15, 14, 14);
  background-color: #dabdbe;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.buttonLogin:hover {background-color: #dfa7a9}

.buttonLogin:active {
  background-color: #dfa7a9;
  box-shadow: 0 5px #999;
  transform: translateY(4px);
}

ul {
  list-style-type: none;
  margin-top: 90px;
  padding: 0;
  width: 15%;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: antiquewhite;
  padding: 8px 0px 8px 16px;
  margin-bottom: 5px;
  text-decoration: none;
}

ul .logout{
  margin-top: 25px;
}

li a.active {
  background-color: #dfa7a9;
  margin-right: 5px;
  color: black;
  border-radius: 20px;
}

li a:hover:not(.active) {
  background-color: #c7aaabc7;
  color: antiquewhite;
  border-radius: 20px;
}
